@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}


*::selection{
    color: white;
    background-color: black;
}

svg.logo{
    margin-top: 44px;
    margin-left: 55px;

    width: 61.09px;
    height: 19px;
}

svg.virgule{
    position: absolute;
    top: 53.53px;
    left: 90px;
    right: 1346.57px;
    bottom: 0;

    width: 2.9px;
    height: 5.15px;
}

svg.circle{
    position: absolute;
    left: 90px;
    top: 52.56px;

    width: 2.9px;
    height: 2.9px;
}

nav ul li{
    text-transform: none;
    list-style-type: none;
}

nav ul li a{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-right: 60px;

    text-decoration: none;
    color: #000000;
}

nav > ul > li > a{
    padding: 43px 20px;
}

nav ul li a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

nav{
    position: relative;
    bottom: 22.5px;
    margin-left: 80vw;
}

nav ul{
    display: flex;
}

.title{
    margin-left: 55px;
    margin-top: 40px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.sous-title{
    margin-left: 55px;
    margin-top: 8px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.search{
    margin-left: 50px;
    margin-top: 20px;
}

img.icon-localisation{
    position: relative;
    top: 3px;

    width: 14px;
    height: 18px;
}

#backcolor{
    position: relative;
    bottom: 1px;
    left: 5px;

    background: #F2F2F2;
    border: 16.5px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

input{
    border: none;
    outline: none;
}

input::placeholder{
    color: black;
}

input[type="text"]{
    width: 240px;
    height: 49px;

    background: white;
    border: 1px solid #F2F2F2;
}

input[placeholder="Marseille, France"]{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

input[type="submit"]{
    position: relative;
    right: 5px;
    padding: 12px 16px;
    gap: 10px;

    width: 132px;
    height: 49px;

    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

input[value="Rechercher"]{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.filters{
    display: flex;

    position: relative;
    top: 30px;
}

.contain{
    margin: 0px 20px;
    padding: 12px 30px;
    border: 1px solid gray;
    border-radius: 40px;
}

span.title-filters{
    margin-right: 10px;
    margin-left: 55px;
    margin-top: 16px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.contain span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;

    color: black;
}

img.placements-icons{
    position: relative;
    right: 7px;
    top: 3px;
}

.contain:hover{
    background: #DEEBFF;
}

.infos {
    display: flex;
    margin-top: 70px;
    margin-left: 55px;
}

.infos img.i{
    position: relative;
    right: 13.5px;
    top: 6px;

    width: 4px;
    height: 10px;
}

.infos p {
    margin-top: 3px;
    margin-left: 5px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}