@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.logo{
    width: 61.09px;
    height: 19px;

    cursor: pointer;
}


nav ul li{
    width: 50%;
    text-transform: none;
    list-style-type: none;
}

nav ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
    color: #000000;
}

nav > ul > li > a{
    padding: 44px 15px;
}

nav ul li a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

nav{
    margin-right: 25px;
}

.header {
    display: flex;
    margin: 44px 55px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 25%;
}

.title{
    margin-left: 55px;
    margin-top: 40px;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.sous-title{
    margin-left: 55px;
    margin-top: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.search{
    margin-left: 50px;
    margin-top: 20px;
}

img.icon-localisation{
    position: relative;
    top: 3px;

    width: 14px;
    height: 18px;
}

#backcolor{
    position: relative;
    bottom: 1px;
    left: 5px;

    background: #F2F2F2;
    border: 16.5px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

input{
    border: none;
    outline: none;
}

input::placeholder{
    color: black;
}

input[type="text"] {
    height: 49px;
    background: white;
    border: 1px solid #F2F2F2;
}

input[placeholder="Marseille, France"] {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 15px;
    color: #000000;
}

.btn {
    position: relative;
    right: 5px;
    padding: 12px 16px;
    gap: 10px;
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.btn .fa-magnifying-glass{
    display: none;
}

.btn:hover{
    background: #307ef1;
}

.btn[value="Rechercher"] {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 30px;
}

span.title-filters{
    margin-right: 10px;
    margin-left: 55px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.contain{
    display: flex;
}

.contain button{
    margin: 0px 15px;
    padding: 12px 30px;
    border: 1px solid #b7acac;
    background-color: white;
    border-radius: 40px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: black;
}

.contain button:hover{
    background: #DEEBFF;
}

img.placements-icons{
    position: relative;
    right: 7px;
    top: 3px;
}

.infos {
    display: flex;
    margin-top: 70px;
    margin-left: 55px;
}

.infos i{
    position: relative;
    right: 5px;
    top: 1px;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 4px 1px 5px 9px;
}

.infos p {
    margin-top: 3px;
    margin-left: 5px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 35px 50px;
}

.box{
    width: 70%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.boxZ{
    width: 27%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.location{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    gap: 5%;
}

article a{
    text-decoration: none;
    text-transform: none;
}

a .title-cards{
    color: #000000;
}

a .desc{
    color: #000000;
}

a .title-cardsZ{
    color: #000000;
}

a .descZ{
    margin-top: auto;
    color: #000000;
}


.title-box{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    margin-top: 3%;
    margin-left: 5%;

    color: #000000;
}

.title-boxZ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6.5% 8%;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.title-boxZ img{
    width: 18px;
    height: 15.75px;

    margin-top: 8px;
}

.cards{
    width: 30%;
    height: 34%;
    border-radius: 20px;

    margin-top: 30px;

    background: white;
}

img.img-hebergements{
    width: 100%;
}

.title-cards{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    margin-left: 16px;
}

.desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    margin-top: 9px;
    margin-left: 16px;
}

.star{
    margin-left: 15px;
    margin-top: 9px;
    margin-bottom: 5px;
}

.fa-solid, fas{
    color: #0065FC;

    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.fa-white{
    color: #F2F2F2;
}

p.more{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;

    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

p.more a{
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.cardsZ{
    width: 86%;
    height: auto;
    border-radius: 20px;

    margin: 12px auto;

    background: white;
}

.direction-cardsZ{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.direction-composant{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 150px;
    margin: 12px 15px;
}

img.img-hebergementsZ{
    width: 32%;
    height: auto;
}

.display{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 27px;
}

.image-w-h{
    width: 100%;
    height: 100%;
    padding: 20px 15px;
}

.title-cardsZ{
    font-style: normal;
    font-weight: 700;
    font-size: 17.5px;
    font-weight: 19px;
    width: 100%;
}

.descZ{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-weight: 16px;
}

.starZ{
    width: 100%;
    margin-top: auto;
}

.titleX{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    margin-left: 50px;
    margin-top: 65px;
}

.containerX{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.containerX a{
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.cardsX{
    width: 22%;
    height: 500px; 
    box-shadow: 2px 3px 10px 0px rgb(69 63 70);
    overflow: hidden;
    border-radius: 25px;
}

.containerX figure {
    height: 100%;
}


.vieuxport{
    height: 87%;
    width: 100%;
    object-fit: cover;
}

.descX{
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    padding: 20px 19px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ft {
    width: 94%;
    height: 250px;
    background: #F2F2F2;

    margin-top: 75px;

    display: flex;
    justify-content: space-evenly;
}

.same{
    padding-top: 50px;
}

.all{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
}

.link{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    display: flex;

    margin-top: 21px;
}

.same a{
    text-decoration: none;
    text-decoration: none;
    color: #000000;
}

.same a:hover{
    color: #524f4f;
}

/* Responsive Tablette */
@media screen and (max-width: 992px){
    .title{
        font-size: 21px;
    }

    .contain button{
        margin: 0px 6px;
        padding: 12px 14px;
    }

    .container{
        display: block;
        justify-content: space-between;
        margin: 35px 50px;
    }

    .containerX{
        width: 94%;
        margin-left: auto;
        margin-right: auto;
    }

    .box{
        margin-bottom: 40px;
        width: 100%;
        height: auto;
    }
    
    .boxZ{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        width: 100%;
    }

    .display{
        display: flex;
        flex-direction: row;
        background-color: #F2F2F2;
        display: 100%;
        border-radius: 20px;
    }

    .title-box {
        font-size: 22px;
        line-height: 26px;
        margin-top: 42px;
        margin-left: 50px;
        padding-top: 40px
    }
    
    .cards{
        display: inline-block;
        margin-top: 23px;
    }

    .cardsZ {
        display: flex;
        width: 28%;
        height: auto;
        margin: 12px 10px;
        margin-left: 23.5px;
        margin-bottom: 40px;
    }
    
    p.more {
        font-size: 20px;
        margin-top: 50px;
        margin-left: 50px;
        padding-bottom: 45px;
    }
    
    .title-boxZ {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 12px;
        font-size: 22px;
        margin: 35px 30px;
        width: 93%;
    }

    .titleX{
        margin-left: 55px;
    }

    .direction-cardsZ {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    img.img-hebergementsZ{
        width: 35%;
        height: auto;
    }

    .direction-composant {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .title-cardsZ{
        font-size: 18px;
    }

    .descZ{
        font-size: 14.5px;
    }

    .cardsX {
        width: 22%;
        height: 275px;
    }

    .descX {
        font-size: 17px;
        line-height: 19px;
        padding: 0px 19px;
    }

    .vieuxport{
        height: 84%;
    }

    .ft{
        width: 90%;
        height: 200px;
    }

    .all{
        font-size: 19px;
    }

    .link{
        font-size: 16px;
    }

    .same{
        padding-top: 30px;
    }
}



/* Responsive Mobile */
@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 45px;
    }

    .logo{
        width: 100%;
        height: 20px;
    }

    nav{
        margin: 0;
        width: 100%;
    }

    nav ul{
        gap: 0;
        width: 100%;
    }

    nav ul li{
        width: 100%;
    }
    
    nav ul li a{
        margin-top: 50px;
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        position: relative;
    }

    nav ul li a::after{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 10px;
        background-color: #F2F2F2;
    }
    nav ul li a:hover{
        border-top: none;
    }

    nav ul li a:hover::after{
        background: #0065FC;
    }

    .contain {
        margin-top: 20px;
        flex-wrap: wrap;
        margin-left: 20px;
        gap: 15px;
    }

    .title {
        margin-top: 0;
        margin-left: 30px;
        font-size: 25px;
        width: 83%;
    }

    .sous-title {
        margin-left: 30px;
        margin-bottom: 35px;
    }

    span.title-filters {
        margin-left: 30px;
        font-size: 20px;
    }

    .display{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }

    .infos{
        margin-bottom: 25px;
        margin-left: 30px;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    .containerX{
        width: 89%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    
    .cardsX{
        width: 100%;
        margin: 20px 0;
    }

    .btn{
        position: relative;
        width: 49px;
    }

    .btn .fa-magnifying-glass{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn span{
        display: none;
    }

    .fa-glass-color{
        color: white;
    }

    .boxZ{
        width: 100%;
        height: 670px;
        border-radius: 0;
    }

    .title-boxZ {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 15px;
        width: 87%;
    }

    h2.title-box {
        padding-top: 0px;
        margin-top: 0px;
    }

    .title-box {
        margin-left: 8%;
    }

    .cardsZ {
        width: 91%;
        display: flex;
    }

    .cards{
        width: 96%;
        height: 225px;
        box-shadow: 0 0px 2px 2px #F2F2F2;
    }

    .descX{
        margin-top: 5px;
        font-size: 20px;
    }
    
    .star{
        margin-bottom: 10px;
    }

    img.img-hebergements{
        width: 100%;
        height: 150px;
    }

    img.img-hebergementsZ{
        width: auto;
        height: auto;
    }

    .box{
        background-color: white;
    }
    
    .titleX{
        font-size: 25px;
        width: 120px;
        margin-left: 8%;
    }

    .infos p {
        font-size: 17px;
    }
    
    .infos i {
        padding: 4px 4px 5px 8px;
    }

    .location{
        display: grid;
        width: 94%;
        gap: 0;
    }

    .more{
        display: none;
    }

    .ft{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
    }

    .same{
        margin-left: 45px;
    }

    .link .link-bottom{
        margin-bottom: 40px;
    }

    .search {
        margin-bottom: 15px;
        margin-left: 20px;
    }

    input[type="text"] {
        width: 64%;
    }

    .contain button {
        margin: 0px 1px;
        padding: 12px 14px;
        width: 45%;
        font-size: 13px;
    }


}