@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}


*::selection{
    color: white;
    background-color: black;
}

.logo{
    margin-top: 44px;
    margin-left: 55px;

    width: 61.09px;
    height: 19px;

    cursor: pointer;
}

nav ul li{
    width: 50%;
    text-transform: none;
    list-style-type: none;
}

nav ul li a{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-decoration: none;
    color: #000000;
}

nav > ul > li > a{
    padding: 43px 15px;
}

nav ul li a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

nav{
    position: relative;
    bottom: 22.5px;
    margin-left: 80vw;
}

nav ul{
    display: flex;
}

.title{
    margin-left: 55px;
    margin-top: 40px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.sous-title{
    margin-left: 55px;
    margin-top: 8px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.search{
    margin-left: 50px;
    margin-top: 20px;
}

img.icon-localisation{
    position: relative;
    top: 3px;

    width: 14px;
    height: 18px;
}

#backcolor{
    position: relative;
    bottom: 1px;
    left: 5px;

    background: #F2F2F2;
    border: 16.5px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

input{
    border: none;
    outline: none;
}

input::placeholder{
    color: black;
}

input[type="text"] {
    height: 49px;
    background: white;
    border: 1px solid #F2F2F2;
}

input[placeholder="Marseille, France"] {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 15px;
    color: #000000;
}

.btn {
    position: relative;
    right: 5px;
    padding: 12px 16px;
    gap: 10px;
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.btn:hover{
    background: #307ef1;
}

.btn[value="Rechercher"] {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 30px;
}

span.title-filters{
    margin-right: 10px;
    margin-left: 55px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.contain button{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;

    color: black;
}

.contain button{
    margin: 0px 15px;
    padding: 12px 30px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 40px;
    cursor: pointer;
}

.contain button:hover{
    background: #DEEBFF;
}

img.placements-icons{
    position: relative;
    right: 7px;
    top: 3px;
}

.infos {
    display: flex;
    margin-top: 70px;
    margin-left: 55px;
}

.infos i{
    position: relative;
    right: 16.5px;
    top: 4px;
    font-size: 14px;
}

.infos p {
    margin-top: 3px;
    margin-left: 5px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 35px 50px;
}

.box{
    width: 70%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.boxZ{
    width: 27%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.location{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    gap: 5%;
}

article a{
    text-decoration: none;
    text-transform: none;
}

aside a{
    text-decoration: none;
    text-transform: none;
}

a .title-cards{
    color: #000000;
}

a .desc{
    color: #000000;
}

a .title-cardsZ{
    color: #000000;
}

a .descZ{
    color: #000000;
}


.title-box{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    margin-top: 3%;
    margin-left: 5%;

    color: #000000;
}

.title-boxZ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6.5% 8%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.title-boxZ img{
    width: 18px;
    height: 15.75px;

    margin-top: 8px;
}

.cards{
    width: 30%;
    height: 34%;
    border-radius: 20px;

    margin-top: 30px;

    background: white;
}

img.img-hebergements{
    width: 100%;
}

.title-cards{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    margin-left: 16px;
}

.desc{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    margin-top: 9px;
    margin-left: 16px;
}

.star{
    margin-left: 16px;
    margin-top: 9px;
}

.fa-solid, fas{
    color: #0065FC;

    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.fa-white{
    color: #F2F2F2;
}

p.more{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;

    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}

p.more a{
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.cardsZ{
    width: 86%;
    height: auto;
    border-radius: 20px;

    margin: 12px auto;

    background: white;
}

.direction-cardsZ{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.direction-composant{
    display: flex;
    flex-direction: column;
    margin: 18px 15px;
    gap: 6px;
}

img.img-hebergementsZ{
    width: 41%;
}

.display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-cardsZ{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    font-weight: 19px;

    width: 175px;
}

.descZ{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    font-weight: 16px;
}

.starZ{
    width: 100%;
    margin-top: 19%;
}

p.titleX{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    margin-left: 50px;
    margin-top: 65px;
}

.containerX{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.containerX a{
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.cardsX{
    height: 600px;
    box-shadow: 2px 3px 10px 0px rgb(69 63 70);

    margin-right: 32px;

    border-radius: 25px;
}

img.vieuxport{
    width: 100%;
}

div.emplacement{
    width: 405px;
    height: 55px;
    border-radius: 0px 0px 20px 20px;

    position: relative;
    bottom: 52px;

    background: white;
}

#descX{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;

    padding: 20px 19px;
}

footer{
    display: flex;
    justify-content: center;
}

.ft {
    width: 94%;
    height: 250px;
    background: #F2F2F2;

    margin-top: 75px;

    display: flex;
    justify-content: space-evenly;
}

.same{
    padding-top: 50px;
    padding-right: 290px;
}

.all{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
}

.link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    display: flex;

    margin-top: 21px;
}

.same a{
    text-decoration: none;
    text-decoration: none;
    color: #000000;
}

.same a:hover{
    color: #524f4f;
}

@media screen and (max-width: 992px){
    
}